<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UseQuick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03D33B01C02C571004F855F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03D33C41C02C572004F855F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03D33CF1C02C572004F855F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
